.active-btn {
    color: aquamarine;
}

li {
    list-style: none;
}

.connection-form {
    border: none;
    min-width: 490px;
    width: 90%;
    text-align: center;
    margin: 0px auto;
    padding: 20px;
    border-radius: 20px;

    // @media screen and(max-width: 550px) {
    //     min-width: 200px;
    // }

    .form-container {
        display: grid;
        grid-template-columns: 30% 70%;

        // @media screen and(max-width: 550px) {
        //     grid-template-columns: 1fr;
        // }

        ul {
            li {
                cursor: pointer;
                border-radius: 20px;
                padding: 10px 20px;
                transition: 0.2s;

                // @media screen and(max-width: 550px) {
                //     width: 80%;
                //     margin: 0 auto;
                // }
            }

            .active-btn {
                background: #ff7b77;

                &:hover {
                    background: #ffd0c4;
                }
            }

            li:not(.active-btn) {
                &:hover {
                    transform: translateX(3px);
                }
            }

            #login {
                position: relative;

                // @media screen and(max-width: 550px) {
                //     margin-bottom: 30px;

                &:after {
                    content: "";
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 80%;
                    height: 1px;
                    background: #ffd0c4;
                }
            }
        }
    }

    form {
        input {
            padding: 14px 20px;
            margin: 0;
            font-size: 1.2rem;
            border-radius: 20px;

            &:focus {
                box-shadow: 0 0 3px rgba(51, 51, 51, 0.2);
            }
        }

        a {
            color: rgb(62, 62, 214);
        }
    }
}